<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreshDaily Restaurant</title>
    <link rel="icon" href="images/food-logo.png">


    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/addToCart.css">

</head>
<body>


<header>

    <a href="#" class="logo"><img src="images/food-logo.png" alt=""></a>

    <nav class="navbar">
        <a href="index.html">home</a>
        <a class="active" href="/Menu.html">menu</a>
        <a href="Dishes.html">Promotion</a>
        <a href="About.html">about</a>
        <a href="Contact.html">Contact Us</a>
        <a href="News.html">News</a>
        
    </nav>

    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>
        <a href="/Login.html" class="fas fa-user"></a>  
        <i class="fas fa-shopping-cart" id="cart-icon"></i>
    </div>

     <!-- add to cart -->
    <div class="cart">
        <i class="fa-regular fa-circle-xmark" id="close-icon"></i>
        <h3>Your cart</h3>
        <div class="cart-box">
            <div class="image">
                <img src="images/menu-14.jpg" alt="">
            </div>
            <div class="cart-text">
                <span>Beef Steak</span>
                <p>Price $12.99</p>
                <input type="number" value="1" class="cart-qty">
            </div>
            <div class="cart-remove">
                <i class="fa-solid fa-trash"></i>
            </div>
            <div class="total">
                <span>Total:</span>
                <span>$0</span>
            </div>
            <button type="button" class="buy-btn">Buy now</button>
        </div>

    </div>

</header>
    
    <!-- search form  -->

    <form action="" id="search-form">
        <input type="search" placeholder="search here..." name="" id="search-box">
        <label for="search-box" class="fas fa-search"></label>
        <i class="fas fa-times" id="close"></i>
    </form>



    
    <section class="menu" id="menu">

        <h3 class="sub-heading"> our menu </h3>
        <h1 class="heading"> today's speciality </h1>
    
        <div class="box-container">
            <div class="box">
                <div class="image">
                    <img src="images/menu-12.jpg" alt="">
                    
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>Beef Steak</h3>
                    <p>Wagyu beef is popular around the world because of its superior eating quality.</p>
                    <span class="price">$12.99</span>
                    <a href="/AddToCart.html" class="btn">add to cart</a>
                </div>
            </div>
    
            <div class="box">
                <div class="image">
                    <img src="images/menu-13.jpg" alt="">
                    
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>Vegetable Soup</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, accusantium.</p>
                    <span class="price">$12.99</span>
                    <a href="/AddToCart.html" class="btn">add to cart</a>
                </div>
            </div>
    
            <div class="box">
                <div class="image">
                    <img src="images/menu-14.jpg" alt="">
                    
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>Steam egg</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, accusantium.</p>
                    <span class="price">$12.99</span>
                    <a href="/AddToCart.html" class="btn">add to cart</a>
                </div>
            </div>
            <div class="box">
                <div class="image">
                    <img src="images/menu-16.jpg" alt="">
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>Sushi trash</h3>
                    <p>The rice is traditionally moistened with rice vinegar is called trash</p>
                    <span class="price">$12.99</span>
                    <a href="/AddToCart.html" class="btn">add to cart</a>
                </div>
            </div>
    
            <div class="box">
                <div class="image">
                    <img src="images/menu-1.jpg" alt="">
                
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>Pizza</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, accusantium.</p>
                    <span class="price">$12.99</span>
                    <a href="/AddToCart.html" class="btn">add to cart</a>
                </div>
            </div>
    
            <div class="box">
                <div class="image">
                    <img src="images/menu-2.jpg" alt="">
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>Burger</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, accusantium.</p>
                    <span class="price">$12.99</span>
                    <a href="/AddToCart.html" class="btn">add to cart</a>
    
                </div>
            </div>
    
            <div class="box">
                <div class="image">
                    <img src="images/menu-3.jpg" alt="">
                    
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>Pancake</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, accusantium.</p>
                   
                    <span class="price">$12.99</span>
                    <a href="/AddToCart.html" class="btn">add to cart</a>
                </div>
            </div>
    
            <div class="box">
                <div class="image">
                    <img src="images/menu-4.jpg" alt="">
                    <!-- <a href="#" class="fas fa-heart"></a> -->
                </div>
                <div class="content">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h3>Ice cream</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, accusantium.</p>
                    <span class="price">$12.99</span>
                    <a href="/AddToCart.html" class="btn">add to cart</a>
                    
                </div>
            </div>
        </div>
    
    </section>
    <div class="footer">

        <div class="box-container">

            <div class="box">
                <h3>quick links</h3>
                <a href="#">home</a>
                <a href="#">menu</a>
                <a href="#">promotion</a>
                <a href="#">about</a>
                <a href="#">Contact</a>
            </div>

            <div class="box">
                <h3>Location</h3>
                <i class="fa-solid fa-location-dot"></i>
                <a href="#">3rd Floor, City C4, Olympia 
                   <br> City Phnom Penh, Cambodia, 12312
                </a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#">+855 979 801 569 </a>
                <a href="#">johnkimleang29@mail.com</a>
            </div>

            <div class="box">
                <h3>follow us</h3>
                <a href="#">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="#">Please support us by other platform</a>
            </div>
        </div>
        <!-- <div class="credit">
            <p>Develop by: JK Leang</p>
        </div> -->
    </div>

    <!-- loader part  -->
<!-- <div class="loader-container">
    <img src="images/loader.gif" alt="">
</div> -->

<!-- custom js file link  -->
<script src="js/script.js"></script>
<script src="js/addToCard.js"></script>
</body>
</html>