{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreshDaily Restaurant</title>
    <link rel="icon" href="{% static 'images/food-logo.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/addToCart.css' %}">
</head>
<body>

    {% include 'header.html' %}

    <!-- search form -->
    <form action="" id="search-form" method="get">
        <input type="search" placeholder="search here..." name="q" id="search-box">
        <label for="search-box" class="fas fa-search"></label>
        <i class="fas fa-times" id="close"></i>
    </form>

    <section class="about" id="about">
        <h3 class="sub-heading"> about us </h3>
        <h1 class="heading"> why choose us? </h1>
        <div class="row">
            <div class="image">
                <img src="{% static 'images/menu-10-removebg.png' %}" alt="">
            </div>
            <div class="content">
                <h3>Our mission</h3>
                <p>"Bringing good food into your everyday. That's our mission. That means we don't just deliver we bring it, always going the extra mile to make your experience memorable.</p>
                <p>And it means this is delicious food you can enjoy everyday: from vibrant salads for healthy office lunches, to indulgent family-sized pizzas, to fresh sushi for a romantic night in. Whatever you crave, we can help."</p>
                <a href="#" class="btn">learn more</a>
            </div>
        </div>
        <div class="row">
            <div class="content">
                <br>
                <h3>Our vision</h3>
                <p>Well, there's a good reason for it — because of their values which are expressed in their mission statement. As consumers, we like to patronize businesses that have values we believe in.</p>
                <p>And it means this is delicious food you can enjoy everyday: from vibrant salads for healthy office lunches, to indulgent family-sized pizzas, to fresh sushi for a romantic night in. Whatever you crave, we can help."</p>
                <a href="#" class="btn">learn more</a>
            </div>
            <div class="image">
                <img src="{% static 'images/About_pizza.png' %}" alt="">
            </div>
        </div>
    </section>

    <div class="footer">
        <div class="box-container">
            <div class="box">
                <h3>quick links</h3>
                <a href="{% url 'myapp:home' %}">home</a>
                <a class="active" id="menu-link" href="#">menu</a>
                <a href="{% url 'myapp:about' %}">about</a>
                <a href="{% url 'myapp:contact' %}">Contact</a>
            </div>
    
            <div class="box">
                <h3>Location</h3>
                <i class="fa-solid fa-location-dot"></i>
                <a href="#">3rd Floor, City C4, Olympia
                    <br> City Phnom Penh, Cambodia, 12312
                </a>
            </div>
    
            <div class="box">
                <h3>contact info</h3>
                <a href="#">+855 979 801 569 </a>
                <a href="#">johnkimleang29@mail.com</a>
            </div>
    
            <div class="box">
                <h3>follow us</h3>
                <a href="https://github.com/Kimleang7">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-github"></i>
                    </a>
                    <a href="#">Please support us by other platform</a>
                    </div>
                    </div>
                    <!-- <div class="credit">
                         <p>Develop by: JK Leang</p>
                     </div> -->
                    
                    </div>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/addToCard.js' %}"></script>
    <script src="{% static 'js/jquery.3.6.3.js' %}"></script></body>
</html>
