{% load static %}

<style>
.notification-icon {
  position: relative;
  display: inline-block;
}

.notification-number {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 20px; /* Adjusted to match height for vertical centering */
  font-size: 12px;
}



</style>

<link rel="stylesheet" href="{% static '/css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/addToCart.css' %}">
<header>
    <a href="#" class="logo"><img src="{% static 'images/food-logo.png' %}" alt=""></a>

    <nav class="navbar">
        <a href="{% url 'myapp:home' %}">home</a>
        <a class="active" href="{% url 'myapp:menu' %}">menu</a>
        <a href="{% url 'myapp:about' %}">about</a>
        <a href="{% url 'myapp:contact' %}">Contact Us</a>
    </nav>

    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <a href="{% url 'myapp:login' %}" class="fas fa-user"></a>
        <i class="fas fa-shopping-cart" id="cart-icon"></i>

        <a href="{% url 'myapp:notification' %}" class="fa-solid fa-bell notification-icon">
                <span class="notification-number">1</span>
        </a>

          
    </div>

   <!-- add to cart -->
<div class="cart">
    <i class="fa-regular fa-circle-xmark" id="close-icon"></i>
    <h3>Your cart</h3>
    <div class="cart-box">
        <div class="image">
            <img src="" class="foodcard" alt="">
        </div>
        <div class="cart-text">
            <span></span>
            <p></p>
            <input type="number" value="1" class="cart-qty">
        </div>
        <div class="cart-remove">
            <i class="fa-solid fa-trash"></i>
        </div>
        <div class="total">
            <span>Total: $</span>
            <span class="totalprice">0</span>
        </div>
        <button type="button" onclick="BuyNow()" id="BuyNow" class="buy-btn">Buy now</button>
    </div>
</div>

</header>