{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FreshDaily Restaurant</title>
    <link rel="icon" href="{% static 'images/food-logo.png' %}">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/addToCart.css' %}">

</head>

<body>

<header>


    <a href="#" class="logo"><img src="{% static 'images/food-logo.png' %}" alt=""></a>

    <nav class="navbar">
        <a href="{% url 'myapp:home' %}">home</a>
        <a class="active" href="{% url 'myapp:menu' %}">menu</a>
        <a href="{% url 'myapp:about' %}">about</a>
        <a href="{% url 'myapp:contact' %}">Contact Us</a>
    </nav>

    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <a href="{% url 'myapp:login' %}" class="fas fa-user"></a>
        <i class="fas fa-shopping-cart" id="cart-icon"></i>
    </div>

    <!-- add to cart -->
    <div class="cart">
        <i class="fa-regular fa-circle-xmark" id="close-icon"></i>
        <h3>Your cart</h3>
        <div class="cart-box">
            <div class="image">
                <img src="{% static 'images/menu-14.jpg' %}" alt="">
            </div>
            <div class="cart-text">
                <span>Beef Steak</span>
                <p>Price $12.99</p>
                <input type="number" value="1" class="cart-qty">
            </div>
            <div class="cart-remove">
                <i class="fa-solid fa-trash"></i>
            </div>
            <div class="total">
                <span>Total:</span>
                <span>$0</span>
            </div>
            <button type="button" class="buy-btn">Buy now</button>
        </div>

    </div>

</header>

<section class="menu" id="menu">

    <h3 class="sub-heading"> our menu </h3>
    <h1 class="heading"> today's speciality </h1>

    <div class="box-container">
        <!-- Loop through each MenuItem object -->
        {% for item in menu_items %}
        <div class="box">
            <div class="image">
                <img src="{{ item.image.url }}" alt="">
            </div>
            <div class="content">
                <h3>{{ item.item_name }}</h3>
                <p>{{ item.description }}</p>
                <span class="price">${{ item.price }}</span>
                <a href="" productid="{{item.id}}" class="btn addtocard">add to cart</a>
            </div>
        </div>
        {% endfor %}
    </div>

</section>

<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/addToCard.js' %}"></script>
<script src="{% static 'js/jquery.3.6.3.js' %}"></script>

</body>

</html>
